@page
@model MyApp.Namespace.ProdutoModel
@{
    ViewData["Title"] = "Cadastro de produto";
    ViewData["Codigo"] = "10203040";
}


<h1>AMEM GENTEEEEEEEEEE</h1>
<p>Código do produto>: @ViewData["Codigo"]</p>
<p>Nome do produto: @Model.Descricao</p>
<p>Preço: @Model.Preco</p>